@model AppTracker.ViewModels.UserFormViewModel

<input id="blazerId" type="hidden" value="@Model.BlazerId" />

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
 
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-left: 5%">
                        <h1 style="margin-bottom: 20px">@Model.PageTitle @Model.BlazerId</h1>
                    </div>
                    <div class="row">
                        @using (@Html.BeginForm("Save", "User"))
                        {
                            <div id="btn-container">
                                <div class="row">
                                    <div class="form-group col-lg-5">
                                        @Html.Label("Search User by BlazerId")
                                        @Html.TextBoxFor(m => m.BlazerId, new {id = "test", @class = "form-control", @placeholder = "Enter Blazer Id ", @data_toggle = "tooltip", @data_placement = "right", @title = "Select user to add by BlazerId"})
                                    </div>
                                    <div class="form-group col-lg-5">
                                        @Html.Label("Super Role")
                                        <select class="form-control"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-2">
                                        <h1>User Apps</h1>
                                    </div>
                                    <div class="form-group col-lg-5" style="margin-top: 2.3%">
                                        <a id="addUserApp" class="active">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            Add App
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <button class="btn btn-primary" type="submit" style="margin-left: 1%">Create</button>
                                @Html.AntiForgeryToken()
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Urls for ajax calls*@
<div id="Appsloader" data-request-url="@Url.Action("GetAllApps", "Shared")"></div>
<div id="AppRolesloader" data-request-url="@Url.Action("GetAllAppRoles", "Shared")"></div>
<div id="ExistingAppsloader" data-request-url="@Url.Action("GrabUserApps", "Shared")"></div>
<div id="ExistingUserAppRolesloader" data-request-url="@Url.Action("GrabUserAppRoles", "Shared")"></div>
<div id="EmployeeSelect2" data-request-url="@Url.Action("EmployeesSearch", "Shared")"></div>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/User/UserForm.js")"></script>
}
